body {
    background-color: bisque;
}

.hero {
    height: 100vh;
}

nav a:visited{
    color: #DB0032;
}
nav a:hover{
    background-color: #002E6D;
}
nav a:active{
    background-color: #007934;
}

.jumbotron {
    background-image: url(/img/grant-porter-Mx71xeQOev8-unsplash.jpg);
    background-size: cover;
    height: 800px;
    background-position: center;
 }

footer a:visited{
    color: #DB0032;
}
footer a:hover{
    background-color: #002E6D;
}
footer a:active{
    background-color: #007934;
}